@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --font-mont: "Montserrat", sans-serif;
  --color-header-footer: #d4a59a;
  --color-aside: #0367a6;
  --light-color: #e4c580;
  --light-blue-color: #008997;
  --cream-color: #e9e9e9;
  --white-color: #fff;
  --black-color: #000;
}

table td {
  border: 1px solid var(--black-color);
  padding: 20px;
}

header {
  width: 100%;
  max-height: 15vh;
  min-height: 5vh;
  max-width: 100%;
  min-width: 100%;
  height: 15vh;
  background-color: var(--color-header-footer);
  display: flex;
  align-items: center;
}

header > h1 {
  width: 50%;
  margin: 0 0 0 5%;
}

header > p {
  width: 50%;
  text-align: end;
  margin: 0 5% 0 0;
}

.container {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 70vh;
  max-height: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container > section {
  width: 50%;
  height: auto;
}

.left-place {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-place > aside {
  width: 40%;
  height: 100%;
  background-color: var(--color-aside);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-place > main {
  width: 40%;
  height: auto;
  margin: 0 10% 0 0;
  background-color: var(--light-color);
}

main > div {
  height: auto;
  width: 90%;
}

main > p,
.left > p,
.info > aside > p {
  padding: 10%;
}

.right-place > aside {
  height: 20%;
  width: 100%;
  background-color: var(--color-aside);
}

.right-place nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-place nav > a {
  font-size: 22px;
  color: var(--black-color);
}

.info {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info > div {
  width: 40%;
  height: 100%;
}

.info > aside {
  background-color: var(--light-color);
  overflow: hidden;
  width: 40%;
}

.left {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.left > form {
  height: 100%;
  width: 100%;
  text-align: center;
}

.circle {
  width: 100%;
  height: 50%;
}

.circle-block {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-aside);
  margin: 0 auto;
}

.circle-info {
  text-align: center;
}

.con-form {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

.con-form > h2 {
  line-height: 0%;
  font-family: var(--font-mont);
}

.con-form > button {
  background-color: var(--color-aside);
  /* stylelint-disable */
  background-image: linear-gradient(
    /* stylelint-disable */ 90deg,
    var(--color-aside) 0%,
    var(--light-blue-color) 74%
  );
  border-radius: 25px;
  border: 1px solid var(--color-aside);
  color: var(--cream-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-mont);
  letter-spacing: 0.1rem;
  padding: auto;
  text-transform: uppercase;
  width: 60%;
  height: 20%;
  margin: 0 auto;
}

.con-form > input {
  background-color: var(--white-color);
  border: none;
  width: 80%;
  font-family: var(--font-mont);
  font-size: 100%;
  padding: 4%;
  height: 5%;
  margin: 5% auto;
}

footer {
  width: 100%;
  height: 15vh;
  background-color: var(--color-header-footer);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer > h3 {
  font-family: var(--font-mont);
  font-size: 1.5em;
  margin-right: 10%;
}

.right-place nav a:hover {
  transition: 0.5s;
  color: var(--light-color);
}

aside > img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .con-form > h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .left-place > aside,
  .left-place > main,
  .info > div {
    width: 50%;
    height: auto;
  }

  .info > aside {
    width: 50%;
  }

  .container > section {
    width: 100%;
    height: 50%;
  }

  header > p {
    font-size: 80%;
  }

  .left-place > main {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  header > p {
    font-size: 60%;
  }

  .left-place > aside,
  .left-place > main,
  .info > div {
    width: 50%;
  }

  .con-form > h2 {
    font-size: 12px;
  }

  .circle-info > p {
    font-size: 14px;
  }
}
