<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>MyFirstPage</title>
    <base href="/" />
  </head>

  <body>
    <header>
      <h1>Welcome here!</h1>
      <p>Some funny text about page</p>
    </header>
    <div class="container">
      <section class="left-place">
        <aside>
          <img
            src="{{ url_for('static', filename='img/phone.jpg') }}"
            alt="Phone image"
          />
        </aside>
        <main>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates, perspiciatis earum odit exercitationem mollitia
              nesciunt ullam quod necessitatibus reprehenderit praesentium
              laboriosam, delectus officiis tempora, impedit ipsa explicabo.
              Quos, incidunt voluptate? Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Voluptates, perspiciatis earum odit
              exercitationem mollitia nesciunt ullam quod necessitatibus
              reprehenderit praesentium laboriosam, delectus officiis tempora,
              impedit ipsa explicabo. Quos, incidunt voluptate? Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Voluptates,
              perspiciatis earum odit exercitationem mollitia nesciunt ullam
              quod necessitatibus reprehenderit praesentium laboriosam, delectus
              officiis tempora, impedit ipsa explicabo. Quos, incidunt
              voluptate? Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Voluptates, perspiciatis earum odit exercitationem mollitia
              nesciunt ullam quod necessitatibus reprehenderit praesentium
              laboriosam, delectus officiis tempora, impedit ipsa explicabo.
              Quos, incidunt voluptate? Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Voluptates, perspiciatis earum odit
              exercitationem mollitia nesciunt ullam quod necessitatibus
              reprehenderit praesentium laboriosam, delectus officiis tempora,
              impedit ipsa explicabo. Quos, incidunt voluptate? Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Voluptates,
              perspiciatis earum odit exercitationem mollitia nesciunt ullam
              quod necessitatibus reprehenderit praesentium laboriosam, delectus
              officiis tempora, impedit ipsa explicabo. Quos, incidunt
              voluptate?
            </p>
          </div>
        </main>
      </section>
      <section class="right-place">
        <aside>
          <nav class="navigation">
            <a href="/index">Menu</a>
            <a href="/">Catalog</a>
            <a href="/sign_up">Sign up</a>
            <a href="/contacts">Contacts</a>
            <a href="/about">About us</a>
          </nav>
        </aside>
        <div class="info">
          <div class="left">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              quod ad laboriosam, neque amet blanditiis eaque similique nemo
              voluptatem, perspiciatis dignissimos sit voluptatibus assumenda
              sapiente tempore exercitationem, excepturi obcaecati reiciendis?
            </p>
          </div>
          <div class="right">
            <div class="wrapper">
              <input type="checkbox" id="check-menu" />
              <label for="check-menu"></label>
              <div class="burger-line first"></div>
              <div class="burger-line second"></div>
              <div class="burger-line third"></div>
              <div class="burger-line fourth"></div>
              <nav class="burger-menu">
                <a href="/">Menu</a>
                <a href="/catalog">Catalog</a>
                <a href="/sign_up">Sign up</a>
                <a href="/contacts">Contacts</a>
                <a href="/about">About us</a>
              </nav>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <h3>Dmytro Hushchin</h3>
    </footer>
    <script src="./js/messageEmail.js"></script>
  </body>
</html>
